<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <div class="input-group">
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name">
    </div>

    <div class="input-group">
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email">
    </div>

    <input type="submit" value="Создать">
</form>

<hr>
<div>
    <a th:href="@{/}">Назад к пользователям</a>
</div>

</body>
</html>